.allExpenseRow {
    height: 2rem;
    margin: 1rem 0 1rem 0;
    transition: .5s all ease-in-out;
    padding: 1rem;
}

.allExpenseRow:hover {
    background-color: ghostwhite;
    border-radius: 5px;
}

.viewableExpenses {
    height: 60vh;
    overflow-y: auto;
}