.wishlist_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 12px;
    margin-right: 12px;
    background-color: ghostwhite;
    transition: all .25s ease-in-out;
  }
  
  .wishlist_row:hover {
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
    margin-right: 15px;
  }

  .star {
      cursor: pointer;
      width: 10%;
  }

  .container {
      height: calc(100vh - 275px);
      overflow-y: auto;
  }