.goalCard {
    margin-bottom: 1rem;
    width: 48%;
    padding: 3px;
    background-color: lightskyblue;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .goalCard:hover {
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
  }
  
  .goalInner {
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 5px;
    width: 95%;
    margin-bottom: .5rem;
  }

  .allGoals {
    height: calc(100vh - 450px);
    width: 100%;
    overflow-y: auto;
    padding-top: 15px;
  }

  .modal-body {
      overflow-y: hidden;
  }