<!-- <input [(ngModel)]="email" placeholder="username" name="email"/>
<input [(ngModel)]="password" placeholder="password" name="password"/>
<button (click)="handleSubmit()" [disabled]="isLoading()">Submit</button>

<button class="btn btn-success" (click)="open(content)">Add Expense</button>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Recurring Expense</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form [formGroup]="recurringForm">

          <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Amount:</label>
              <input (input)="recurringAmount" type="number" class="form-control" id="amount" formControlName="amount"/>
          </div>
          <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <input (input)="recurringDescription" class="form-control" id="recurringDescription" formControlName="name"/>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addRecurring()">Save</button>
  </div>
</ng-template>

<div *ngFor="let item of recurring">
  <div>
    {{ item.name }} - {{ item.amount }}
  </div>
  <button (click)="updateRecurring(item.id)">Update</button>
  <button (click)="deleteRecurring(item.id)" class="btn btn-danger">Delete</button>
</div> -->

<router-outlet></router-outlet>
